<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ComentarioMapper">

    <select id="consultarComentarios" resultMap="ComentarioResult">
        select
        c.autor,
        c.contenido,
        c.fecha,
        c.nombreiniciativa,
        c.proponente,
        us.apellido as autor_apellido,
        us.clave as autor_clave,
        us.documento as autor_documento,
        us.email as autor_email,
        us.nombre as autor_nombre,
        us.ocupacion as autor_ocupacion,
        us.tipousuario as autor_tipousuario,
        us.username as autor_username
        from
        comentario as c join usuario as us on (c.autor=us.username)
        where c.nombreiniciativa=#{iniciativa.nombreIniciativa}
    </select>


    <insert id="comentarUnaIniciativa" parameterType="map">
        insert into
        comentario
        values
        (#{comentario.fecha},#{comentario.autor.userName},#{comentario.contenido},#{comentario.nombreIniciativa},#{comentario.proponente})
    </insert>

    <delete id="eliminarComentario" parameterType="map">
        delete from
        comentario
        where
        autor = #{autor.userName} and nombreIniciativa = #{iniciativa.nombreIniciativa} and proponente = #{iniciativa.proponente}
    </delete>

    <resultMap type='Comentario' id='ComentarioResult'>
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>
        <result property="contenido" column="contenido"/>
        <result property='nombreIniciativa' column='nombreIniciativa'/>
        <result property='proponente' column='proponente'/>
        <association
                resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"
                property="autor" columnPrefix="autor_" javaType="Usuario"/>
    </resultMap>
    
</mapper>