<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ComentarioMapper">

    <select id="consultarComentarios" resultMap="ComentarioResult">
        select
        *
        from
        comentario
        where nombreiniciativa = #{iniciativa}
    </select>

    <select id="consultarALL" resultMap="ComentarioResult">
        select
        *
        from
        comentario
    </select>


    <insert id="comentarUnaIniciativa" parameterType="map">
        insert into
        comentario
        values
        (#{id},#{fecha},#{autor},#{contenido},#{nombreIniciativa},#{proponente})
    </insert>

    <delete id="eliminarComentario" parameterType="map">
        delete from
        comentario
        where
        autor = #{autor} and nombreIniciativa = #{iniciativa.nombreIniciativa} and proponente = #{iniciativa.proponente}
    </delete>

    <resultMap type='Comentario' id='ComentarioResult'>
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>
        <result property="autor" column="autor"/>
        <result property="contenido" column="contenido"/>
        <result property='nombreIniciativa' column='nombreIniciativa'/>
        <result property='proponente' column='proponente'/>
    </resultMap>
    
</mapper>