<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper">

    <select id="consultarUsuario" resultMap="UsuarioResult">
        SELECT
        *
        FROM
        Usuario
        WHERE userName = #{userName}
    </select>

    <select id="consultarUsuariosPublico" resultMap="UsuarioResult">
        SELECT
        *
        FROM
        Usuario
        WHERE userName Like #{userName}
    </select>

    <select id="logIn" resultMap="UsuarioResult">
        SELECT
        *
        FROM
        Usuario
        WHERE userName = #{userName} AND clave = #{clave}
    </select>

    <insert id="insertarUsuario" parameterType="map">
        insert into
        usuario
        values
        (#{usuario.userName},#{usuario.documento},#{usuario.nombre},#{usuario.apellido},#{usuario.ocupacion},#{usuario.clave},#{usuario.tipoUsuario},#{usuario.email})
    </insert>
<!--
    <select id="consultarIniciativasRelacionadas" resultMap="">
        SELECT
        *
        FROM
        iniciativa
        WHERE proponente = #{userName}
    </select>
-->
    <resultMap type='Usuario' id='UsuarioResult'>
        <result property='userName' column='userName'/>
        <result property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property="apellido" column="apellido"/>
        <result property="ocupacion" column="ocupacion"/>
        <result property="clave" column="clave"/>
        <result property="tipoUsuario" column="tipoUsuario"/>
        <result property="email" column="email"/>
    </resultMap>

</mapper>